@font-face { font-family: Georgia}

body, h1 {
    font-family: 'Georgia';
}

.intro {
	font-size: 30px;
	max-width: 40%;
	margin-left: 30%;
}

h1 {
	font-size: 55px;
	margin-top: 20%;
}

.next {
	font-size: 25px;
	margin-left: 44.5%;
	margin-top: 15%;
}
