@font-face { font-family: Georgia}

body {
    font-family: 'Georgia';
}

h1, h2, h3 {
	font-family: 'Georgia';
}

h1 {
	font-size: 40px;
}

h2 {
	font-size: 25px;
}

.intro {
	margin-left: 3%;
	margin-top: 7%;
}

.next {
	font-size: 25px;
	margin-left: 44.5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.content-box {
	margin-top: 2%;
	margin-left: 3%;
	font-family: 'Arial';
}

.article-box {
	max-width: 70%;
	margin-top: 3%;
}

.reply-box {
	background-color: #D9D9D9; 
	padding: 10px;
	margin-left: 3%;
	margin-bottom: 0.5%;
}

.re-reply {
	background-color: #FFF;
	padding: 10px;
	margin-left: 3%;
	margin-bottom: 0.5%;
}

.btn.btn-success.btn-sm {
	margin-left: 80%;
	margin-top: 1%;
}
